<mat-toolbar color="accent" class="mat-elevation-z8">
  
 <span ><b>DMart</b></span>
 
 <a  routerLink=""></a>
 
 <div class="button-container" >

  
 <!-- <button mat-form-field class="search"  appearance="outline"> -->
  <button routerLink="/search" class="advanceserach" color="primary" mat-raised-button>
    search
    </button>
  <!-- </button> -->
  

  <button  routerLink="/filter" class="serach" mat-raised-button>
    Advance search
     </button>
</div>
 <span class="example-spacer"></span>
 <button mat-raised-button (click)="openAddEditEmpForm()">
Add Employee
</button>
</mat-toolbar>
<div>
 
</div>

<router-outlet></router-outlet>
