.example-spacer {
    flex: 1 1 auto;
  }
  .search {
    width: 80%;
    margin-top: 30px;
    
  }
 .advanceserach{
  margin-left: 20px;
 }
 .button{
  gap:30px;
 }

 .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  & button {
    margin-right: 10px;
  }
}