<mat-toolbar color="skyblue">
  
 <span><b>DMart</b></span>
 <div class="button-container">
 <!-- <button mat-form-field class="search"  appearance="outline"> -->
  <button routerLink="/search" class="advanceserach" mat-raised-button>
    search
    </button>
  <!-- </button> -->
  

  <button routerLink="/filter" class="serach" mat-raised-button>
    Advance search
     </button>
</div>
 <span class="example-spacer"></span>
 <button mat-raised-button (click)="openAddEditEmpForm()">
Add Employee
</button>
</mat-toolbar>


<router-outlet></router-outlet>
